 /* css de la page de contact */

body{
    font-family: "Poppins", "Segoe UI", sans-serif;
    background-color:  #fbe5d6;
    color: #3b2f2f;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav{
    background-color: #8b0000;
    padding: 1em 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin: 0 20px;
}

nav a{
    color: #fffaf0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover{
    color: #ffd700;
    transform: scale(1.1);
}

h1{
    font-size: 2.2em;
    margin-top: 1.5em;
    color: #4b2e05;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

form{
    background: #fffaf0;
    max-width: 450px;
    margin: 2em auto;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: left;
    transition: transform 0.3s ease;
}

#message {
  background-color: #fffaf0;
  border: 2px solid #d4a373;
  border-radius: 10px;
  padding: 10px;
  color: #4b2e05;
  font-weight: bold;
  transform: scale(1);
  width: 95%;         
}



label{
    font-weight: bold;
    color: #5a2e0a;
    font-size: 1.1em;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="date"]{
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #b5651d;
    border-radius: 10px;
    background-color: #fff8f0;
    color: #3b2f2f;
    
}

button{
    background-color: #8b0000;
    color: #fffaf0;
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 1.5em auto 0;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover{
    background-color: #b22222;
    transform: translateY(-3px);
}

@media (max-width: 600px){
    form{
        width: 85%;
        padding: 1.5em;
    }

    h1{
        font-size: 1.7em;
    }
}


